.homepage-container {
  position: relative;
  width: 100vw;
  height: 700px;
  overflow: hidden;
}

.homepage-bg {
  width: 100vw;
  height: 700px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.homepage-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000;
  z-index: 2;
  text-align: center;
}

.homepage-description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 3;
  padding: 2.5rem 0 2rem 0;
  box-sizing: border-box;
  text-align: center;
}

.homepage-quote {
  font-size: 1.5rem;
  font-weight: 600;
  font-style: italic;
  margin-bottom: 1.2rem;
  color: #222;
}

.homepage-text {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.7;
  max-width: 700px;
  margin: 0 auto;
}
