.homepage-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.homepage-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.homepage-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px 8px #000;
  z-index: 2;
  text-align: center;
}
